body {
	font-family: Arial, sans-serif;
	font-size: 100%;
	line-height: 120%;
	color: #222;
	padding: 0.5em 2em;
}


/*********/
/* TITLE */
/*********/
h1 {
	padding-left: 44px;
	background: url(../img/codewars-rainbow.png) no-repeat;
	line-height: 36px;
}
h1 input {
	color: blue;
	font-weight: bold;
	width: 5em;
}
h1 button {
	font-size: 1rem;
}
h1 form {
	display: inline;
}


/************/
/* CALENDAR */
/************/
#calendar,
.face {
	position: relative;
	display: grid;
	grid-template-columns: repeat(52, 0.75em); /* 1.5em */
	grid-gap: 2px;
	border: 1px dotted #999;
	padding: 1em 2px 2px 1.5em;
	width: calc(52*0.75em + 104px);
}

section.week {
	display: grid;
	grid-template-rows: repeat(7, 0.75em);
	grid-gap: 2px;
}


/********************/
/* HEADINGS - MONTH */
/********************/
.week:before {
	font-size: 0.6em;
	line-height: 0.8em;
	position: absolute;
	top: 0.3em;
}
.Jan:before { content: 'Jan'; }
.Feb:before { content: 'Feb'; }
.Mar:before { content: 'Mar'; }
.Apr:before { content: 'Apr'; }
.May:before { content: 'May'; }
.Jun:before { content: 'Jun'; }
.Jul:before { content: 'Jul'; }
.Aug:before { content: 'Aug'; }
.Sep:before { content: 'Sep'; }
.Oct:before { content: 'Oct'; }
.Nov:before { content: 'Nov'; }
.Dec:before { content: 'Dec'; }


/**********************/
/* HEADINGS - WEEKDAY */
/**********************/
.week:first-of-type > div:before {
	font-size: 0.6em;
	line-height: 1.2em;
	text-align: right;
	position: absolute;
	left: 0;
}
.week:first-of-type > div:nth-child(1):before { content: 'Sun'; }
.week:first-of-type > div:nth-child(2):before { content: 'Mon'; }
.week:first-of-type > div:nth-child(3):before { content: 'Tue'; }
.week:first-of-type > div:nth-child(4):before { content: 'Wed'; }
.week:first-of-type > div:nth-child(5):before { content: 'Thu'; }
.week:first-of-type > div:nth-child(6):before { content: 'Fri'; }
.week:first-of-type > div:nth-child(7):before { content: 'Sat'; }


/********/
/* DAYS */
/********/
.day {
	background: #eee;
	font-size: 0.6em;
	line-height: 0.6em;
}
.today {
	border: 1px dashed #999;
	font-size: 1.2em;
}
.day.php   { background: mediumpurple; }
.day.sql   { background: purple; }
.day.ruby  { background: firebrick; }
.day.python { background: limegreen; }
.day.javascript { background: dodgerblue; }


/*********/
/* ICONS */
/*********/
.php:before { color: mediumpurple; }
.sql:before { color: purple; }
.ruby:before { color: firebrick; }
.python:before { color: limegreen; }
.javascript:before { color: dodgerblue; }


/**********/
/* LEGEND */
/**********/
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.tt-katas li i,
ul.legend li i {
	margin-right: 0.5em;
}

ul.legend {
	border: 1px dotted #999;
	padding: 1em;
	position: absolute;
	top: 0;
	right: -15em;
	font-size: 0.85em;
	display: none;
}
.legend h2 {
	margin: 0.3em 0;
}


/************/
/* FILTERER */
/************/
ul#language-filter {
	display: flex;
	margin-bottom: 1em;
}
#language-filter li {
	padding: 0 0.5em;
	border-right: 1px solid #999;
	cursor: pointer;
}
#language-filter li:last-child {
	border: none;
}
#language-filter li:hover {
	text-decoration: underline;
}
.selected {
	font-weight: bold;
}


/*********/
/* TABLE */
/*********/
#langRankTable {
	font-size: 0.8em;
	border-collapse: collapse;
}
th, td {
	border: 1px dotted #333;
	text-align: center;
}
th {
	width: 4em;
	overflow: hidden;
}

hr {
	margin: 2em 0;
}
