body {
	font-family: Arial, sans-serif;
	font-size: 100%;
	line-height: 120%;
	color: #222;
	padding: 0.5em 2em;
}


/*********/
/* TITLE */
/*********/
h1 {
	padding-left: 44px;
	background: url(../img/codewars-rainbow.png) no-repeat;
	line-height: 36px;
}
h1 input {
	color: blue;
	font-weight: bold;
	width: 5em;
}
h1 button {
	font-size: 1rem;
}
h1 form {
	display: inline;
}
h1 input.invalid {
	border: 1px solid red;
}


/***********/
/* PROFILE */
/***********/
#user-profile {
	position: relative;
	float: right;
	width: 15em;
	border: 1px solid #ccc;
	padding: 0.6em;
	min-height: 50px;
}
.blue {
	color: dodgerblue;
}
.purple {
	color: blueviolet;
}
.loading:before {
	content: url(../img/gears.svg);
	position: absolute;
	left: calc(50% - 24px);
}


/************/
/* CALENDAR */
/************/
#calendar,
.face {
	position: relative;
	display: grid;
	grid-template-columns: repeat(104, 0.75em);
	grid-gap: 2px;
	border: 1px dotted #999;
	padding: 1em 2px 2px 1.5em;
	width: calc(52*0.75em + 104px);
	overflow-x: scroll;
	overflow-y: hidden;
}

section.week {
	display: grid;
	grid-template-rows: repeat(7, 0.75em);
	grid-gap: 2px;
}
div.message {
	position: absolute;
    top: 50%;
    left: calc(50% - 3em);
}


/********************/
/* HEADINGS - MONTH */
/********************/
.week:before {
	font-size: 0.6em;
	line-height: 0.8em;
	position: absolute;
	top: 0.3em;
}
.Jan:before { content: 'Jan'; }
.Feb:before { content: 'Feb'; }
.Mar:before { content: 'Mar'; }
.Apr:before { content: 'Apr'; }
.May:before { content: 'May'; }
.Jun:before { content: 'Jun'; }
.Jul:before { content: 'Jul'; }
.Aug:before { content: 'Aug'; }
.Sep:before { content: 'Sep'; }
.Oct:before { content: 'Oct'; }
.Nov:before { content: 'Nov'; }
.Dec:before { content: 'Dec'; }


/*******************/
/* HEADINGS - YEAR */
/*******************/
.week:after {
	font-size: 0.6em;
	line-height: 0.8em;
	position: absolute;
	top: 0.3em;
	padding-left: 3em;
}
.year18:after { content: '2018'; }
.year17:after { content: '2017'; }
.year16:after { content: '2016'; }
.year15:after { content: '2015'; }
.year14:after { content: '2014'; }


/**********************/
/* HEADINGS - WEEKDAY */
/**********************/
#calendar:before {
	content: "Sun\A Mon\A Tue\A Wed\A Thu\A Fri\A Sat";
	white-space: pre;
	font-size: 0.6em;
	line-height: 1.5em;
    text-align: right;
    position: absolute;
    left: 0;
    top: 1.6em;
}


/********/
/* DAYS */
/********/
.day {
	background: #eee;
	font-size: 0.6em;
	line-height: 0.6em;
}
.today {
	border: 1px dashed #999;
	font-size: 1.2em;
}
.day.ruby  { background: firebrick; }
.day.swift   { background: tomato; }
.day.ocaml   { background: coral; }
.day.java   { background: orange; }
.day.javascript { background: yellow; }
.day.clojure   { background: lawngreen; }
.day.python { background: forestgreen; }
.day.dart   { background: mediumaquamarine; }
.day.cplusplus   { background: teal; }
.day.go   { background: darkturquoise; }
.day.typescript   { background: dodgerblue; }
.day.fsharp   { background: steelblue; }
.day.objc   { background: lightblue; }
.day.c-lang   { background: blue; }
.day.lua   { background: navy; }
.day.php   { background: mediumpurple; }
.day.elixir   { background: blueviolet; }
.day.sql   { background: purple; }
.day.haskell   { background: purple; }
.day.csharp   { background: fuchsia; }
.day.crystal   { background: black; }
.day.bash   { background: black; }

.day.flash-once {
	animation: 0.6s flash-once 1;
}
@keyframes flash-once {
	0%, 100% { background: #eee; }
	50% { background: #333; }
}


/*********/
/* ICONS */
/*********/
.ruby:before { color: firebrick; }
.swift:before { color: tomato; }
.ocaml:before   { color: coral; }
.java:before { color: orange; }
.javascript:before { color: yellow; }
.clojure:before { color: lawngreen; }
.python:before { color: forestgreen; }
.dart:before { color: mediumaquamarine; }
.cplusplus:before { color: teal; }
.go:before { color: darkturquoise; }
.typescript:before { color: dodgerblue; }
.fsharp:before { color: steelblue; }
.objc:before   { color: lightblue; }
.c-lang:before   { color: blue; }
.lua:before   { color: navy; }
.php:before { color: mediumpurple; }
.elixir:before { color: blueviolet; }
.sql:before { color: purple; }
.haskell:before { color: purple; }
.csharp:before { color: fuchsia; }
.crystal:before { color: black; }
.bash:before   { color: black; }


/**********/
/* LEGEND */
/**********/
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.tt-katas li i,
ul.legend li i {
	margin-right: 0.5em;
}

ul.legend {
	float: right;
	border: 1px dotted #999;
	padding: 1em;
	font-size: 0.85em;
	display: none;
}
.legend h2 {
	margin: 0.3em 0;
}


/************/
/* FILTERER */
/************/
ul#language-filter {
	display: flex;
	margin-bottom: 1em;
}
#language-filter li {
	padding: 0 0.5em;
	border-right: 1px solid #999;
	cursor: pointer;
}
#language-filter li:last-child {
	border: none;
}
#language-filter li:hover {
	text-decoration: underline;
}
.selected {
	font-weight: bold;
}


/*********/
/* TABLE */
/*********/
#langRankTable {
	font-size: 0.8em;
	border-collapse: collapse;
}
th, td {
	border: 1px dotted #333;
	text-align: center;
}
th {
	width: 4em;
	overflow: hidden;
}

hr {
	margin: 2em 0;
}


svg {
	width: 45px;
	height: 24px;
}
.tpd-tooltip svg {
	width: 30px;
	height: 16px;
}
