
/***************/
/* KYU BUTTONS */
/***************/
.small-hex {
    height: 26px;
    width: 15px;
    background-color: #bb432c;
    color: #131414;
    position: relative;
    margin-right: 8px;
    margin-left: 8px;
    text-align: center;
    line-height: 26px;
    font-weight: bold;
    z-index: 1;
    text-shadow: none;
    line-height: 28px;
    font-size: 12px;
}
.small-hex:before {
    content: " ";
    width: 0;
    height: 0;
    border-right: 8px solid #bb432c;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    position: absolute;
    left: -8px;
    z-index: 0;
    -moz-transform: scale(0.9999);
}
.small-hex:after {
    content: "";
    width: 0;
    position: absolute;
    right: -8px;
    top: 0;
    border-left: 8px solid #bb432c;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    z-index: 0;
    -moz-transform: scale(0.9999);
}
.small-hex.is-extra-wide {
    width: 34px;
}
.is-extra-wide .inner-small-hex {
    width: 32px;
}
.inner-small-hex {
    height: 22px;
    width: 13px;
    background-color: #181919;
    color: #131414;
    position: relative;
    margin-right: 6px;
    margin-left: 6px;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
    z-index: 1;
    text-shadow: none;
    margin-left: 1px;
    color: #efefef;
    top: 2px;
    font-size: 11px;
    color: #b1361e;
}
.inner-small-hex:before {
    content: " ";
    width: 0;
    height: 0;
    border-right: 6px solid #181919;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    position: absolute;
    left: -6px;
    z-index: 0;
    -moz-transform: scale(0.9999);
}
.inner-small-hex:after {
    z-index: 2;
    content: "";
    width: 0;
    position: absolute;
    right: -6px;
    top: 0;
    border-left: 6px solid #181919;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    -moz-transform: scale(0.9999);
}
.is-blue-rank {
    color: #3c7ebb;
}
.small-hex.is-blue-rank,
.big-hex.is-blue-rank,
.medium-hex.is-blue-rank {
    background-color: #3c7ebb;
    color: rgba(20,20,20,0.7);
}
.is-blue-rank .inner-medium-hex,
.is-blue-rank .inner-small-hex {
    color: #3c7ebb;
}
.small-hex.is-blue-rank:after,
.big-hex.is-blue-rank:after,
.medium-hex.is-blue-rank:after {
    border-left-color: #3c7ebb;
}
.small-hex.is-blue-rank:before,
.big-hex.is-blue-rank:before,
.medium-hex.is-blue-rank:before {
    border-right-color: #3c7ebb;
}

.is-yellow-rank {
    color: #ecb613;
}
.small-hex.is-yellow-rank,
.big-hex.is-yellow-rank,
.medium-hex.is-yellow-rank {
    background-color: #ecb613;
    color: rgba(20,20,20,0.7);
}
.is-yellow-rank .inner-medium-hex,
.is-yellow-rank .inner-small-hex {
    color: #ecb613;
}
.small-hex.is-yellow-rank:after,
.big-hex.is-yellow-rank:after,
.medium-hex.is-yellow-rank:after {
    border-left-color: #ecb613;
}
.small-hex.is-yellow-rank:before,
.big-hex.is-yellow-rank:before,
.medium-hex.is-yellow-rank:before {
    border-right-color: #ecb613;
}

.is-white-rank {
    color: #e6e6e6;
}
.small-hex.is-white-rank,
.big-hex.is-white-rank,
.medium-hex.is-white-rank {
    background-color: #e6e6e6;
    color: rgba(20,20,20,0.7);
}
.is-white-rank .inner-medium-hex,
.is-white-rank .inner-small-hex {
    color: #e6e6e6;
}
.small-hex.is-white-rank:after,
.big-hex.is-white-rank:after,
.medium-hex.is-white-rank:after {
    border-left-color: #e6e6e6;
}
.small-hex.is-white-rank:before,
.big-hex.is-white-rank:before,
.medium-hex.is-white-rank:before {
    border-right-color: #e6e6e6;
}

.is-purple-rank {
    color: #866cc7;
}
.small-hex.is-purple-rank,
.big-hex.is-purple-rank,
.medium-hex.is-purple-rank {
    background-color: #866cc7;
    color: rgba(20,20,20,0.7);
}
.is-purple-rank .inner-medium-hex,
.is-purple-rank .inner-small-hex {
    color: #866cc7;
}
.small-hex.is-purple-rank:after,
.big-hex.is-purple-rank:after,
.medium-hex.is-purple-rank:after {
    border-left-color: #866cc7;
}
.small-hex.is-purple-rank:before,
.big-hex.is-purple-rank:before,
.medium-hex.is-purple-rank:before {
    border-right-color: #866cc7;
}
